nav {
    display: flex;
    padding: 16px 8px;
    justify-content: space-evenly;
    background-color: #c0c0c0;
}

span {
    color: black;
    text-decoration: none;
    padding: 8px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #808080;
    border-right: 3px solid #808080;
}

span.active {
    border-top: 3px solid #808080;
    border-left: 3px solid #808080;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}
